Backups/Node-Red/Node_backup1.json
[{"id":"c955fe73ef013133","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"167e0ea4ee8663a2","type":"mqtt out","z":"c955fe73ef013133","name":"ESP32-Test","topic":"ESP32test","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ac06931d698088f8","x":410,"y":300,"wires":[]},{"id":"1bfbeb01cdfa4cc7","type":"inject","z":"c955fe73ef013133","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"ID\":\"30:AE:A4:07:0D:64\",\"DO(%)\":[85],\"PH\":[7],\"TEMP(C)\":[40],\"BAT(mV)\":[2354]}","payloadType":"json","x":190,"y":300,"wires":[["af3eeeadd53511b0","167e0ea4ee8663a2"]]},{"id":"af3eeeadd53511b0","type":"debug","z":"c955fe73ef013133","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":180,"wires":[]},{"id":"ac06931d698088f8","type":"mqtt-broker","name":"","broker":"ec2-3-16-154-178.us-east-2.compute.amazonaws.com","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""}]